.project-detail {
  background: #fff;
  padding: 80px 0;
}

/* container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* grid */
.detail-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: start;
}

/* ===== LEFT GALLERY ===== */

.main-image img {
  width: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

/* thumbnails */
.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbs img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.thumbs img:hover {
  opacity: 1;
}

.thumbs img.active {
  border: 2px solid #facc15;
  opacity: 1;
}

/* ===== RIGHT INFO ===== */

.info .location {
  display: inline-block;
  color: #facc15;
  margin-bottom: 10px;
}

/* title */
.info h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* desc */
.desc {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #000000;
}

/* features */
.features {
  margin-bottom: 30px;
}

.feature {
  margin-bottom: 10px;
  color: #000000;
}

/* button */
.btn {
  padding: 14px 30px;
  border: none;
  background: #facc15;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #eab308;
}